html,
body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url('/public/background.png');
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 100%;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  height: 730px;
  padding: 20px;
  background-color: #fbf9f6;
  border-radius: 50px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.top-bar {
  width: 100%;
  height: 2em;
  display: flex;
  align-content: center;
}

.menu-button,
.top-button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 3.5em;
  height: 2em;
  border: none;
  background-color: transparent;
  background-image: url('../public/menuButton.png');
  background-size: 3.5em 2em;
  object-fit: contain;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.logo {
  width: 8em;
  height: 8em;
  padding-top: 30px;
  margin-bottom: 16px;
}

.scroll-container {
  width: 100%;
  height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.search-box {
  background: white;
  border: 1px solid #dddddd;
  border-radius: 2em;
  width: 550px;
  padding: 0.3em 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.search-input {
  color: black;
  font-size: 1.5em;
  width: 90%;
  height: 100%;
  border: none;
}

.search-input:placeholder {
  color: none;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-image: url('../public/search.png');
  background-size: 30px 30px;
  object-fit: contain;
  background-color: transparent;
  background-position: 0px 0px;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3em;
  background-color: transparent;
}

.top-button {
  width: 5em;
  height: 3em;
  background-image: url('../public/topButton.png');
  background-size: 5em 3em;
}

.login-box {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  justify-content: space-around;
  align-content: center;
}

.login-input-wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.login-input {
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  width: 150px;
}

.login-button {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}
.modal-content {
  width: 10%;
  background-color: white;
  width: 300px;
  height: 400px;
  text-align: center;
  padding: 50px 100px;
  position: relative;
  border-radius: 50px;
  background-color: rgb(245, 229, 186);
  top: 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

h4 {
  margin: 0;
}
.modal-input {
  border: solid orange;
  border-width: 0px 0px 1px 0px;
  background-color: transparent;
  margin-bottom: 20px;
  position: relative;
  width: 200px;
  padding: 10px;
}

.modal-input-icon {
  position: absolute;
  top: 200px;
  left: 100px;
  width: 15px;
  height: 15px;
  max-width: 100%;
  height: auto !important;
}

img {
  max-width: 100%;
  height: auto !important;
}

.modal-button {
  border: none;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 80px;
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: rgb(94, 87, 65);
}

.modal-button :active {
  box-shadow: none;
}
.hidden {
  display: none;
}

.signUp {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0;
}

.logo-in-modal {
  width: 100px;
  height: 100px;
}
/* slider */
.swiper {
  width: 1000px;
  height: 250px;
}

.swiper-slide {
  border-radius: 50px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 200px;
  border-radius: 50px;
  background-color: rgba(255, 242, 205, 0.5);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px;
}
.nav-bar :-webkit-scrollbar {
  display: none;
}

.outside {
  width: 90%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0px;
  right: 0px;
}

.container {
  margin: 10px;
}

.res-container {
  width: 200px;
  height: 100px;
  border-radius: 50px;
  background-color: #fcfaf6;
  box-shadow: 0px 1px 30px rgba(145, 145, 145, 0.2);
}

j h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.side-bar {
  width: 3.5em;
  height: 100%;
}

.side-bar-button {
  width: 3.5em;
  height: 3.5em;
  background-color: transparent;
  border: none;
}

.res-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 1500px;
  height: 600px;
  overflow-y: auto;
  margin-left: 20px;
  -ms-overflow-style: none;
}

.res-detail-container::-webkit-scrollbar {
  display: none;
}

.res-image-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
}

.res-detail-page {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.res-menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.search-result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  margin-top: 0px;
  -ms-overflow-style: none;
}

.res-inside {
  -ms-overflow-style: none;
}
.search-result-container::-webkit-scrollbar,
.res-inside::-webkit-scrollbar,
.review::-webkit-scrollbar {
  display: none;
}

.review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 700px;
}

.review {
  overflow-y: auto;
  -ms-overflow-style: none;
}
.comment-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin: 10px;
}

.selection {
  margin: 10px;
  background-color: transparent;
  color: #716e65;
  border: none;
}
